RABBITMQ_USER=ride_local
RABBITMQ_PASSWORD=local_dev_change_me
MYSQL_ROOT_PASSWORD=local_root_change_me
MYSQL_USER_PASSWORD=local_user_change_me
MYSQL_DRIVER_PASSWORD=local_driver_change_me
MYSQL_TRIP_PASSWORD=local_trip_change_me
MYSQL_PAYMENT_PASSWORD=local_payment_change_me
MYSQL_NOTIFICATION_PASSWORD=local_notification_change_me
